@import "main-section.css";
@import "sided-text-picture.css";
@import "partners-section.css";
@import "advantages-section.css";
@import "employees-section.css";


@font-face {
    font-family: "Recoleta";
    src: url(../fonts/Recoleta.ttf);
}

* {
    padding: 0;
    margin: 0;
}
body {
    font-family: "Noto Sans", sans-serif;
}

.header {
    height: 12vh;
    background-color: #163A24;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.container {
   
    display: flex;
    width: 80%;
    max-width: 1220px;
    margin: 0 auto;
}

.header__wrapper {
    padding: 2.3vh 0;
    display: flex;
    width: 100%;
}


.header__buttons {
    display: flex;
    font-size: 1.6vh;
    font-weight: 300;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: 5%;
}

.btn {
    font-family: "Noto Sans", sans-serif;
    font-size: 1.7vh;
    padding: 10px 30px 10px 30px;
    background-color: #198C36;
    border-style: none;
    color: white;
    border-radius: 10vw;
}

.header__ul {
    gap: 25px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__li a {
    text-decoration: none;
    color: white;
}



